# HRMelt specific
# todo.md
**/*.mp4
*.mp4 # usually videos exceed 10MB
*.DS_Store
**/*.DS_Store
# Data folders:
data/*
!data/raw/
data/raw/*
!data/raw/Helheim_data
!data/raw/promice_station_data
data/raw/Helheim_data/*
data/raw/promice_station_data/*
!data/raw/Helheim_data/sample
!data/raw/promice_station_data/day
data/raw/Helheim_data/sample/*
data/raw/promice_station_data/day/*
!data/raw/Helheim_data/sample/*.tif
!data/raw/promice_station_data/day/*.csv
# Experiment logs:
# Exlude any model and experiment model checkpoints, sweep logs, wandb log,  predictions, and evaluation predictions
runs/*/*/checkpoints/*
runs/*/*/sweep/*
runs/*/*/wandb/*
runs/*/*/predictions/*
runs/*/*/*/predictions/*
runs/*/*/deploy/*
runs/*/*/eval_during_training/*
## unet/data_2018_to_20 experiment
runs/unet/data_2018_to_20/*
## deeplabv3 
runs/deeplabv3/wandb/*

# hrmelt documentation files
references/figures/benchmark
references/figures/train_data_2017_to_20_s1a_mar_over_melt
references/figures/train_data_2017_to_20_s1a_pmw_mar_dem_mask_melt
references/figures/all_data
references/figures/train_data_s1x
references/figures/val_data_s1x
references/figures/tmp/
# Workspace files
.vscode
*.code-workspace

# Keep in private, but not in public branch:
references/*
README_misc.md
runs/*/data_s1x
runs/*/data_v1_2
runs/*/data_v1_3
runs/*/default
todo.md
runs/all/data_variance
notebooks/testing_metrics.ipynb
notebooks/exploring_interpolation.ipynb
notebooks/exploring_deeplabv3.ipynb
notebooks/explore_gausian_filter_performance.ipynb
notebooks/example_batch_input.npy
notebooks/download_modis_using_gee.ipynb
notebooks/scripts/check_for_duplicate_s1a_s1b_data.py
notebooks/scripts/create_deploy_video.py
notebooks/scripts/test_data_augmentations.py
hrmelt/archive
hrmelt/utils/archive.py
hrmelt/utils/dice_score.py
hrmelt/models/srdiff
hrmelt/models/pix2pix
hrmelt/data

# From here on it's the template .gitignore for Python:
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Add custom .gitignore lines to the top of this file.
